services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: protect-my-etf-app
    environment:
      TZ: Asia/Seoul
      SPRING_PROFILES_ACTIVE: ${ENV:-prod}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres16:5432/${POSTGRES_DATABASE:-public}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER:-postgres}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_BOT_USERNAME: ${TELEGRAM_BOT_USERNAME}
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - npm_network

networks:
  npm_network:
    external: true
